<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SE397F.Properties.Settings.QLKS_PMConnectionString"
            connectionString="Data Source=DESKTOP-SGKVLKK\BINH;Initial Catalog=QLKS_PM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>